
<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Users</strong>
      </c-card-header>
      <c-card-body>
        <table [hover]="true" cTable>
      <thead>
      <tr>
       <th scope="col">UserName</th>
       <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of user; let i = index">
       <td>{{list.username}}</td>
       <td>{{list.email }}</td>
       <!-- <td>{{versions[i] }}</td> -->
       <!-- <td> 
        <mat-icon mat-icon-button title="edit" (click)="updateProject(list.id_PROJECT,list.project_Name)">edit</mat-icon>
      </td>
       <td col-sm-12><mat-icon  mat-icon-button (click)="deleteProject(list.id_PROJECT)" title="delete">delete_forever</mat-icon></td> 
       <td> 
        <mat-icon mat-icon-button title="backup" (click)="createProjectVersion(list.id_PROJECT)">backup</mat-icon>
      </td> -->
      </tr>
      </tbody>
     </table>
      </c-card-body>
    </c-card>
  </c-col>