.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
   }
   
   .error-code {
    font-size: 72px;
    color: #2c3e50;
   }
   
   .error-message {
    font-size: 24px;
    color: #7f8c8d;
    margin-top: 20px;
   }
   
   .back-button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 2px;
    cursor: pointer;
   }
   
   .back-button:hover {
    background-color: #2980b9;
   }