.table {
    width: 250%;
}
.form-inline {
    display: flex;
    align-items: center;
  }
  
  .form-inline input {
    margin-right: 4px;
  }
  .card{
    max-width: 2000px;
    height: 110px;
    padding: 10px;
  }